#invoiceHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-bottom: 2px solid black;
}
#invoice-category {
	margin-left: 10px;
}

#titleContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
#titleContainer > div {
	display: flex;
	gap: 10px;
	text-transform: uppercase;
	font-style: italic;
	width: 100%;
}
#invoice-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 50px;
	text-align: center;
}
#invoice-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}
#invoice-title-footer {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#invoice-issuer-name{
	font-weight: 600;
	font-size: 1.5rem;
}
#invoice-issuer-address {
	font-style: italic;
	font-size: 0.9rem;
}
#invoice-issuer-tax-id {
	font-style: italic;
	font-size: 0.9rem;
}
#invoice-receipent-name {
	font-weight: 600;
	font-size: 1.5rem;
}
#invoice-receipent-address {
	font-style: italic;
	font-size: 0.9rem;
}
#invoice-receipent-tax-id {
	font-style: italic;
	font-size: 0.9rem;
}
#invoice-payment-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
	margin-top: 10px;
}
#invoice-pay-date,
#invoice-end-price,
#invoice-vat
{
	font-weight: 600;
	font-size: 1.5rem;
}
#invoice-payment-info{
	border-top: 2px solid black;
}